<!DOCTYPE html>
<html lang="en">
<head>
  <title>InstaPlaces Main</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <base href="/">
  <script type="text/javascript" src='/js/jquery-1.11.1.min.js'></script>
  <script type="text/javascript" src='/bootstrap/js/bootstrap.min.js'></script>
</head>
<body>
  <!-- <p>ID: <%= user.id %></p> -->
  <!-- <p>Locations: <%= locations %></p> -->

  <div id='main-container' class="container-fluid">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a id='title' class="navbar-brand" href="#">&nbsp;<span id='title-name'>InstaPlaces</span> : The Future of Recommendations</a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href='#'>Hi, <%= user.username %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |</a></li>
          <li id='logout-btn'><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <div id='sub-container'>

      <!-- Submit Form -->
      <div id='country-submit' class='row'>
        <div>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <!-- <input type="text" class="form-control" placeholder="Search"> -->
              <label for="sel1">Please choose the country you'd like to visit:&nbsp;&nbsp;&nbsp;&nbsp;</label>
              <select class="form-control" id="sel1">
                <option>Select Country:</option>
                <option>United States</option>
                <option>France</option>
                <option>China</option>
              </select>
            </div>
            <button id='submit-btn' type="submit" class="btn btn-primary">Submit</button> (COUNTRY SELECTION NOT FUNCTIONAL YET)
          </form>     
        </div>
      </div>    

      <!-- Top 3 Recommended Cities -->
      <div class='row'><h3 class='col-sm-12'>Our Top 3 Recommended Cities for You</h3></div>

<% for (var i=0; i<20; i++) { %>

      <div id='img-row' class='row'>
        <div class='col-sm-2'><p id='city-name'><%=locations[i].name%></p></div>

<%   for (var j=0; j<5; j++ ) { %>
  <!-- <p><%=locations[i].name%></p> -->
        <div class='col-sm-2'>

<%     if (j < locations[i].posts.length) { %>

   <!-- <p><%- JSON.stringify(locations[i].posts[j])%></p> -->

          <img class='instagram-img' src=<%= locations[i].posts[j].src%>>
          <p class='img-label'><%= locations[i].posts[j].name%></p>

<%     } %>
        </div>

<%  } %>
      </div> 
<% 
  }  %>    


      <!-- Show Image Processing Ability -->
      <div class='row'>
        <div class='col-sm-12'>
          <h3>
            How did we make these personalized recommendations?
          </h3>
          <h5>
            Our recommendation engine analyzes your Instagram images and textual details of your post to discover your potential preferences. Then, we would find the places that are related to your preferences and are photographed by Instagrammers similar to you. We would like to showcases our image processing attempt, which is one of the core components of our recommendation engine.
          </h5>
        </div>
      </div>

      <!-- Image Processing Ability 1 -->
      <div class='row'><h4 class='col-sm-12'>We found the following objects from your Instagram images:</h4></div>

      <div id='img-row' class='row'>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e15/11032786_1042544635773660_994869219_n.jpg">
          <p class='img-label'>hat</p>
          <p class='img-label'>boy</p>
          <p class='img-label'>bed</p>
        </div>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/12070951_1657984597750389_1323579535_n.jpg">
          <p class='img-label'>baby</p>
          <p class='img-label'>dress</p>
          <p class='img-label'>toddler</p>
        </div>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xpa1/t51.2885-15/s640x640/sh0.08/e35/10818008_1209542492396104_1144503542_n.jpg">
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
        </div>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/12139623_1677860749114910_1455021554_n.jpg">
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
        </div>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11232475_948726105161015_875531919_n.jpg">
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
        </div>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e15/11032786_1042544635773660_994869219_n.jpg">
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
        </div>
      </div> <!-- End of Image Processing Ability 1 -->
        
      <!-- Image Processing Ability 2 -->
      <div class='row'><h4 class='col-sm-12'>We found the following styles from your Instagram images:</h4></div>

      <div id='img-row' class='row'>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s480x480/e35/12144285_859882274127574_628888982_n.jpg">
          <p class='img-label'>hot</p>
          <p class='img-label'>hdr</p>
          <p class='img-label'>abstract</p>
        </div>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s480x480/e35/11917929_1618510751733989_1033863930_n.jpg">
          <p class='img-label'>noir</p>
          <p class='img-label'>romance</p>
          <p class='img-label'>cool</p>
        </div>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/s640x640/sh0.08/e35/10817940_1506517333003828_335435600_n.jpg">
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
        </div>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11881642_723561974441980_541890063_n.jpg">
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
        </div>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11875339_486275354867268_494527292_n.jpg">
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
        </div>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11909215_888654631210633_1767330619_n.jpg">
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
        </div>
      </div> <!-- Image Processing Ability 2 -->

      <!-- Image Processing Ability 3 -->
      <div class='row'><h4 class='col-sm-12'>We found the following sceneries from your Instagram images:</h4></div>

      <div id='img-row' class='row'>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xtf1/t51.2885-15/s640x640/sh0.08/e35/11849407_482974388550665_372119742_n.jpg">
          <p class='img-label'>townhouse</p>
          <p class='img-label'>telephone booth</p>
          <p class='img-label'>entrance</p>
        </div>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xpa1/t51.2885-15/s640x640/sh0.08/e35/11950516_901779216558914_1291394961_n.jpg">
          <p class='img-label'>steps</p>
          <p class='img-label'>college</p>
          <p class='img-label'>park</p>
        </div>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xtf1/t51.2885-15/s640x640/sh0.08/e35/11849270_1603115673274599_591764519_n.jpg">
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
        </div>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xta1/t51.2885-15/s640x640/sh0.08/e35/12141821_150191375330328_949438526_n.jpg">
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
        </div>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xpt1/t51.2885-15/s640x640/sh0.08/e35/12071001_889648114452913_1021117796_n.jpg">
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
        </div>
        <div class='col-sm-2'>
          <img class='instagram-img' src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11910351_304573019666535_1638486529_n.jpg">
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
          <p class='img-label'>xxx</p>
        </div>
      </div> <!-- Image Processing Ability 3 -->

    </div>  <!-- end of sub-container -->

  </div><!-- /.container-fluid -->





</body>
</html>