<!DOCTYPE html>
<html lang="en">
<head>
  <title>InstaPlaces Main</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <base href="/">
  <script type="text/javascript" src='/js/jquery-1.11.1.min.js'></script>
  <script type="text/javascript" src='/bootstrap/js/bootstrap.min.js'></script>
</head>
<body>
  <!-- <p>ID: <%= user.id %></p> -->
  <!-- <p>Locations: <%= locations %></p> -->

  <div id='main-container' class="container-fluid">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a id='title' class="navbar-brand" href="#">&nbsp;<span id='title-name'>InstaPlaces</span> : The Future of Recommendations</a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href='#'>Hi, @<%= user.username %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |</a></li>
          <li id='logout-btn'><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <div id='sub-container'>
      <div class='row'><h4 class='col-sm-12'>This recommedation engine provides you the top recommended cities based on your personal preferences that we can learn from your Instagram account. The images are posted by users who are likely to be similar to you. Please be patient as it may take up to 1-2 min to process the results. </h3></div>

      <!-- TopRecommended Cities -->

      <div class='row'><h3 class='col-sm-12'>Our Top Recommended Cities for You</h3></div>
<% if (objects.length < 10){ %>      
      <div class="alert alert-warning" role="alert"><b>Warning:</b> Your results may not be optimal as your Instagram account does not have sufficient number of posts.</div>
<% } %>
      <hr>
      <% for (var i=0; i<Math.min(locations.length, 20); i++) { %>
      <div id='img-row' class='row'>
        <div class='col-sm-2'>
          <p class='city-name'><%=locations[i].name%></p>
          <p class='score'>Score: <%= Math.round(locations[i].score*10000) %></p>
        </div>

        <div class='col-sm-10'>
        <% if (locations[i]) { for (var j=0; j<Math.min(locations[i].posts.length, 12); j++) { %>
            <div class='col-sm-2'>
              <img class='instagram-img' src=<%= locations[i].posts[j].src%>>
              <p class='img-label'><a href='https://www.instagram.com/<%= locations[i].posts[j].name%>'>@<%= locations[i].posts[j].name%></a></p>
            </div>
        <% } } %>
        </div>
      </div> 
      <hr>
      <% }  %>    

      <!-- Show Image Processing Ability -->
      <div class='row'>
        <div class='col-sm-12'>
          <h3>
            How did we make these personalized recommendations?
          </h3>
          <h4 class='description'>
            <a href='/details' class='details-link'>Please learn the full details by clicking here.</a> We would also like to showcase the behind-the-scene analyses performed by the recommendation engine below.           
          </h4>
          <h4 class='description'>
            Showcase 1: Our recommendation engine analyzes your Instagram images and textual details of your post to discover your potential preferences. We would like to showcases our image processing attempt, which is one important component of our recommendation engine:
          </h4>
        </div>
      </div>

      <!-- Image Processing Ability 1 -->
      <div class='row'><h4 class='col-sm-12 sub-header'>We found the following objects from your Instagram images:</h4></div>

      <div id='img-row' class='row'>

      <% for (var i=0; i<Math.min(objects.length, 12); i++) { %>
        <div class='col-sm-2'>
          <img class='instagram-img' src="<%= objects[i].src %>">
          <% for (var j=0; j<Math.min(objects[i].results.length, 3); j++) { %>
          <p class='img-label'><%= objects[i].results[j].name.slice(0,20) %></p>
          <% } %>
        </div>
      <% } %>

      </div> <!-- End of Image Processing Ability 1 -->

      <!-- Image Processing Ability 2 -->
      <div class='row'><h4 class='col-sm-12 sub-header'>We found the following scenes from your Instagram images:</h4></div>

      <div id='img-row' class='row'>

      <% for (var i=0; i<Math.min(places.length, 12); i++) { %>
        <div class='col-sm-2'>
          <img class='instagram-img' src="<%= places[i].src %>">
          <% for (var j=0; j<Math.min(places[i].results.length, 3); j++) { %>
          <p class='img-label'><%= places[i].results[j].id.slice(0,20) %></p>
          <% } %>
        </div>
      <% } %>

      </div> <!-- End of Image Processing Ability 2 -->

      <!-- Tag Processing Ability -->
      <div class='row'><h4 class='col-sm-12 sub-header'>We found the following top occurring tags from your Instagram images:</h6></div>

      <div id='img-row' class='row'>

      <% for (var i=0; i<Math.min(tags.length, 20); i++) { %>
        <div class='col-sm-2'>
          <p class='tag-label'><%= tags[i].name %>: <%= tags[i].score %></p>
        </div>
      <% } %>

      </div> <!-- End of Tag Processing Ability -->

       <!-- Show People Recommendation Ability -->
      <div class='row'>
        <div class='col-sm-12'>
          <h4 class='description'>
            Showcase 2: We use this information to find Instagrammers who are most similar to you. This allows us to recommend places that are related to your preferences and are photographed by Instagrammers similar to you. Here is the showcase for the predicted similar Instagram users, which is another important component of our recommendation engine:
          </h4>
        </div>
      </div>
      <div class='row'><h4 class='col-sm-12 sub-header'>Instagrammers who are similar to you:</h4></div>
      <hr>

      <% for (var i=0; i<Math.min(users.length, 20); i++) { %>

      <div id='img-row' class='row'>
        <div class='col-sm-2'>
          <p class='instagrammer-name'><a href='https://www.instagram.com/<%= users[i].name%>'>@<%=users[i].name%></a></p>
          <p class='score'>Score: <%= Math.round(users[i].score*10000) %></p>
        </div>
        <div class='col-sm-10'>
          <% if (users[i]) { for (var j=0; j<Math.min(users[i].posts.length, 11); j++) { %>
           <div class='col-sm-2'>
             <img class='instagram-img' src=<%= users[i].posts[j].src%>>
          </div>
          <% } } %>
        </div>
      </div> 
      <hr>

      <% } %>    

      <!-- End of People Recommendation Ability -->

    </div>  <!-- end of sub-container -->

  </div><!-- /.container-fluid -->

</body>
</html>
