<!DOCTYPE html>
<html lang="en">
<head>
  <title>InstaPlaces Main</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <base href="/">
  <script type="text/javascript" src='/js/jquery-1.11.1.min.js'></script>
  <script type="text/javascript" src='/bootstrap/js/bootstrap.min.js'></script>
</head>
<body>
  <!-- <p>ID: <%= user.id %></p> -->
  <!-- <p>Locations: <%= locations %></p> -->

  <div id='main-container' class="container-fluid">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a id='title' class="navbar-brand" href="#">&nbsp;<span id='title-name'>InstaPlaces</span> : The Future of Recommendations</a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href='#'>Hi, @<%= user.username %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |</a></li>
          <li id='logout-btn'><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <div id='sub-container'>

      <!-- TopRecommended Cities -->
      <div class='row'><h3 class='col-sm-12'>Our Top Recommended Cities for You</h3></div>

<% for (var i=0; i<20; i++) { %>

      <div id='img-row' class='row'>
        <div class='col-sm-2'>
          <p class='city-name'><%=locations[i].name%></p>
          <p class='score'>Score: <%= Math.round(locations[i].score*10000)/100 %>%</p>
        </div>

<%   for (var j=0; j<5; j++ ) { %>

        <div class='col-sm-2'>

<%     if (j < locations[i].posts.length) { %>

   <!-- <p><%- JSON.stringify(locations[i].posts[j])%></p> -->

          <img class='instagram-img' src=<%= locations[i].posts[j].src%>>
          <p class='img-label'><a href='https://www.instagram.com/<%= locations[i].posts[j].name%>'>@<%= locations[i].posts[j].name%></a></p>

<%     } %>
        </div>

<%  } %>
      </div> 
<% 
  }  %>    


      <!-- Show Image Processing Ability -->
      <div class='row'>
        <div class='col-sm-12'>
          <h3>
            How did we make these personalized recommendations?
          </h3>
          <h4 class='description'>
            Step 1: Our recommendation engine analyzes your Instagram images and textual details of your post to discover your potential preferences. We would like to showcases our image processing attempt, which is one important component of our recommendation engine:
          </h4>
        </div>
      </div>

      <!-- Image Processing Ability 1 -->
      <div class='row'><h4 class='col-sm-12 sub-header'>We found the following objects from your Instagram images:</h4></div>

      <div id='img-row' class='row'>

<% for (var i=0; i<Math.min(objects.length, 6); i++) { %>
        <div class='col-sm-2'>
          <img class='instagram-img' src="<%= objects[i].src %>">
          <p class='img-label'><%= objects[i].results[0].name %></p>
          <p class='img-label'><%= objects[i].results[1].name %></p>
          <p class='img-label'><%= objects[i].results[2].name %></p>
        </div>
<% } %>
      </div> <!-- End of Image Processing Ability 1 -->
        
      <!-- Image Processing Ability 2 -->
      <div class='row'><h4 class='col-sm-12 sub-header'>We found the following styles from your Instagram images:</h4></div>

      <div id='img-row' class='row'>

<% for (var i=0; i<Math.min(objects.length, 6); i++) { %>
        <div class='col-sm-2'>
          <img class='instagram-img' src="<%= places[i].src %>">
          <p class='img-label'><%= styles[i].results[0].id %></p>
          <p class='img-label'><%= styles[i].results[1].id %></p>
          <p class='img-label'><%= styles[i].results[2].id %></p>
        </div>
<% } %>

      </div> <!-- Image Processing Ability 2 -->

      <!-- Image Processing Ability 3 -->
      <div class='row'><h4 class='col-sm-12 sub-header'>We found the following sceneries from your Instagram images:</h4></div>

      <div id='img-row' class='row'>

<% for (var i=0; i<Math.min(objects.length, 6); i++) { %>
        <div class='col-sm-2'>
          <img class='instagram-img' src="<%= places[i].src %>">
          <p class='img-label'><%= places[i].results[0].id %></p>
          <p class='img-label'><%= places[i].results[1].id %></p>
          <p class='img-label'><%= places[i].results[2].id %></p>
        </div>
<% } %>

      </div> <!-- End of Image Processing Ability 3 -->

       <!-- Show People Recommendation Ability -->
      <div class='row'>
        <div class='col-sm-12'>
          <h4 class='description'>
            Step 2: We would find Instagrammers who are most similar to you. This allows us to recommend places that are related to your preferences and are photographed by Instagrammers similar to you. Here is the showcase for the predicted similar Instagram users, which is another important component of our recommendation engine:
          </h4>
        </div>
      </div>
      <div class='row'><h4 class='col-sm-12 sub-header'>Instagrammers who are similar to you:</h4></div>

<% for (var i=0; i<20; i++) { %>

      <div id='img-row' class='row'>
        <div class='col-sm-2'>
          <p class='instagrammer-name'><a href='https://www.instagram.com/<%= users[i].name%>'>@<%=users[i].name%></a></p>
          <p class='score'>Score: <%= Math.round(users[i].score*10000)/100 %>%</p>
        </div>

<%   for (var j=0; j<5; j++ ) { %>

        <div class='col-sm-2'>

<%     if (j < users[i].posts.length) { %>

   <!-- <p><%- JSON.stringify(locations[i].posts[j])%></p> -->

          <img class='instagram-img' src=<%= users[i].posts[j].src%>>
          <!-- <p class='img-label'><a href='https://www.instagram.com/<%= users[i].posts[j].name%>'>@<%= users[i].posts[j].name%></a></p> -->

<%     } %>
        </div>

<%  } %>
      </div> 
<% 
  }  %>    

      <!-- End of People Recommendation Ability -->

    </div>  <!-- end of sub-container -->

  </div><!-- /.container-fluid -->


 


</body>
</html>
